@keyframes toast-in {
    from {
        transform: translateY(-1rem) scale(0.95);
        opacity: 0;
    }

    to {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}

.animate-toast-in {
    animation: toast-in 0.3s ease-out forwards;
}